@import url("https://fonts.google.com/specimen/Figtree");

:root{
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Gray-500: hsl(0, 0%, 42%);
    --Gray-950: hsl(0, 0%, 7%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    height: 100vh;
    background-color: var(--Yellow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: clamp(20px, 2vw, 30px);
    color: var(--Gray-950);
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 800;
}

.blog-card{
    display: flex;
    flex-direction: column;
    padding: clamp(10px, 1vw, 50px);
    width: min(320px, 90%);
    height: min(450px, 90%);
    font-family: 'Figtree', sans-serif;
    justify-content: center;
    background-color: var(--White);
    border-radius: 15px;
    box-shadow: 5px 5px 0px 2px black;
    

}
.learning-card{
    width: fit-content;
    margin: 20px 0px;
    padding: 5px 15px ;
    background-color: var(--Yellow);
    color: var(--Gray-950);
    font-size: 14px;
    font-weight: 800;
    border-radius: 5px;
}
p{
    color: var(--Gray-500);
    font-size: 14px;
    font-weight: 500;
}
.date{
    color: var(--Gray-950);
    font-size: 14px;
    font-weight: 500;
}
.illustration{
    border-radius: 15px;
}
.info-session{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.info-session .avatar{
    width: 40px;
}




.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin: auto;
}

.attribution a { 
    color: var(--Gray-950); 
}
.attribution a:hover { 
    color: var(--Yellow); 
}
