@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@500;800&display=swap');

:root{
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Gray-500: hsl(0, 0%, 42%);
    --Gray-950: hsl(0, 0%, 7%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    position: relative;
    height: 100vh;
    background-color: var(--Yellow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 1.5rem;
    color: var(--Gray-950);
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 800;
}
h1:hover{
    color: var(--Yellow);
}

.blog-card{
    display: flex;
    flex-direction: column;
    padding: 1.5vw;
    width: min(320px, 90%);
    height: min(450px, 90%);
    font-family: 'Figtree', sans-serif;
    justify-content: center;
    background-color: var(--White);
    border-radius: 15px;
    box-shadow: 5px 5px 0px 2px black;
    
}
.learning-card{
    width: fit-content;
    margin: 20px 0px;
    padding: 5px 15px ;
    background-color: var(--Yellow);
    color: var(--Gray-950);
    font-size: 1em;
    font-weight: 800;
    border-radius: 5px;
}
p{
    color: var(--Gray-500);
    font-size: 16px;
    font-weight: 500;
}

.date{
    color: var(--Gray-950);
    font-size: 14px;
    font-weight: 500;
}
.illustration{
    overflow: hidden;
    object-fit: cover;
    display: block;
    width: 100%;
    border-radius: 15px;
}
.info-session{
    margin-top: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.info-session .avatar{
    margin-top: 15px;
    width: 30px;
}


.info-session p{
    color: var(--Gray-950);
    font-size: 16px;
    font-weight: 800;
    
}

.attribution {
    position: absolute;
    font-size: 11px; 
    text-align: center; 
    margin: auto;
    bottom: 20px;
}

.attribution a { 
    color: var(--Gray-950); 
}
.attribution a:hover { 
    color: var(--White); 
}

@media screen and (max-width: 375px) {
    .blog-card{
        padding: 20px;
    }


    
}                       